*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* UTILITY CLASS */
.px{
    padding: 0 100px 0 100px;
}
.px1{
    padding:0 20px ;
}
.px-left{
    padding: 0 0 0 20px;
}
.mx-left{
    margin: 0 0 0 20px;
}
.py{
    margin: 15px 0;
}
.margin-container{
    width: 90%;
    margin: auto;
}
.bg{
    width: 90%;
    position: relative;
    top: 50%;
    margin: auto;
    display: flex;
    color: yellow;
}
.bg .left{
    width: 100%;
    float: left;
    
}
.bg .right{
    
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

.cover{
    width: 100%;
    height: 100vh;
    background:url("./img/landing-img.png") no-repeat center center/cover;
    color: #ffffff;
}
.container{
   width: 100%;
    height: 100vh;
   align-items: center;
   display: flex;
   flex-direction: column;
   color: #ffffff;

}
.regular{
    font-weight: lighter;
}
.bold{
    font-weight: bold;
}
.content{
    width: 80%;
    margin: auto;
    
    color: #ffffff;
    text-align: center; 
}
.wrap{
    width: 80%;
    margin: auto;
}.inner-wrap{
    width: 50%;
}
.btn{
display: flex;
justify-content: center;

}
.btn-primary{
    background: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    margin: 0 5px 0 0;
}
.btn-light{
    border: none;
    padding: 10px 20px;

}
.menu-box{
    width: 100%;
    height: 100px;
    display: grid;
    margin: 0 0 10px 0;
    align-items: center;
    justify-content: center;
}
.bg-sec{
    background: rgba(241, 213, 187, 1);

}
hr{
    width: 20%;
    border: 2px solid  rgba(241, 213, 187, 1);;

}
.hr-cart{
    width: 15%;
    border: 2px solid  rgba(241, 213, 187, 1);;

}
.main{
    height: 100vh;
    width: 100%;
}
.margin-container{
    padding:  32px 0;
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 0 20px;
}
.cart-margin-container{
    width: 90%;
    margin: auto;
    padding:  32px 0;
    display: grid;
    grid-template-columns:8% 52% 30%;
    gap: 0 20px;
    justify-content: center;
}

.side-menu{
    display: block;
    background-color:#000000;
    border-radius: 12px;
    height: fit-content
}
.cards{
    display: grid;
    gap: 10px 0;
}
.cards .card-row1, .card-row2{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.card-name{
    text-align: center;
}
.btn{
    width: 100%;
    justify-content: center;
}
.btn-dark{
    background: #000000;
    color: #ffffff;
    padding: 10px 30px;
}
.cart-cards{
    display: grid;
    gap: 20px 10px;
    background: #F1D5BB;
    padding: 20px 10px;
    
}
.cart-order{
    width: 100%;
    height: 90px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
}
.square{
    width: 90px;
    height: 90px;
}
.circle-img{
    border-radius: 50%;
    background: url("./img/img1.png")no-repeat
    center center/cover;
}
.main-menu-cart{
}
.sub-order{
    margin-top: 70px;
    height: 83vh;
}
.sub-txt p{
    font-size: 24px;
    line-height: ;
}
.cancle, .center{
    display: grid;
    align-items: center;
    justify-content: center;
}
#cancle-icon{
    display: grid;
    align-items: center;
    justify-content: flex-end;
}
.center0{
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.mini-square{
    padding: 5px 12px;
    margin: 0 5px;
    background: #ffffff;
}
.btn-confirm{
    padding: 20px 30px;
    background: #000000;
    color: #ffffff;
}
.btn-div{
    width: 100%;
    height: 10px;
    background: #ffffff;
}
.sub-order-1{
    width: 100%;
    height: 50%;
    background: #F1D5BB;
    color: #000000;
    padding: 30px;
    display: flex;
    flex-direction:column;
}
.sub-order-2{
    width: 100%;
    height: 50%;
    border: solid #F1D5BB;
    color: #000000;
}
